@tailwind base;
@tailwind components;
@tailwind utilities;

.base_bg {
  background-image: linear-gradient(#4a249d, #7d41ff);
}
/* body {
  background: linear-gradient(-45deg, #ffffff, #ccb5ff, #ffffff, #ccb5ff);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
} */

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
